<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>证书管理</title>
</head>
 <style> 
a{ text-decoration:none} 
</style>
<body>
      <div>
        <a><b>证书管理</b></a>    
      </div>
       <form action="/cert/indexsave/{{id}}" method="post">
        <p>商户号: &nbsp<input type="text" class="form-control" style="position:absolute;left:200px;" placeholder="输入商户号" name="businessname" id="businessname">   </p>
        <p>公钥起始有效期: &nbsp<input type="date"  class="form-control" style="position:absolute;left:235px;"  name="publickeydaystart" id="publickeydaystart" >   </p>
        <p>公钥结束有效期: &nbsp<input type="date" class="form-control" style="position:absolute;left:235px;" name="publickeydaystop" id="publickeydaystop">   </p>
        <p>私钥起始有效期: &nbsp<input type="date" class="form-control" style="position:absolute;left:235px;" name="privatekeydaystart" id="privatekeydaystart">   </p>
        <p>私钥结束有效期: &nbsp<input type="date" class="form-control" style="position:absolute;left:235px;" name="privatekeydaystop" id="privatekeydaystop">   </p>
        <p>公钥获取方式: &nbsp<input type="text" class="form-control" style="position:absolute;left:200px;" placeholder="输入获取方式" name="publicgain" id="publicgain">   </p>
        <p>私钥获取方式: &nbsp<input type="text" class="form-control" style="position:absolute;left:200px;" placeholder="输入获取方式" name="privategain" id="privategain">   </p>
        <p>更新方式: &nbsp<input type="text" class="form-control" style="position:absolute;left:200px;" placeholder="输入更新方式" name="update" id="update">   </p>
       
        <p><button type="submit" style="position:absolute;left:250px;"  >确认更新</button> <button  type="reset" style="position:absolute;left:330px;"  ><a href="/cert/{{id}}/" class="get">返回</a></button></p>
        
  </form>
</body>
</html>



