<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{title}}--atm</title>
</head>
 <style> 
a{ text-decoration:none} 
</style>
<body>
      <div>
        <a><b>证书管理</b></a>    
      </div>
      <br>
       <button type="submit" style="position:absolute;left:45px;" ><a href="/cert/indexadd/{{id}}">新增</a></button>  
       <br>
		<ol>
		<li><a>账户信息</a></li>
		<br>
		
			<table border="1">
			    <tr>
			        <td>商户号	</td>
			        <td>公钥起始有效期</td>
			        <td>公钥结束有效期</td>
			        <td>私钥起始有效期</td>
			        <td>私钥结束有效期</td>
			        <td>公钥获取方式	</td>
			        <td>私钥获取方式	</td>
			        <td>更新方式</td>
			        <td>操作</td>
			    </tr>

			     
                {%  for e in ret %}
 
		            <tr>
					<td>{{e.businessname}}</td>
					<td>{{e.publickeydaystart}}</td>
					<td>{{e.publickeydaystop}}</td>
					<td>{{e.privatekeydaystart}}</td>
					<td>{{e.privatekeydaystop}}</td>
					<td>{{e.publicgain}}</td>
					<td>{{e.privategain}}</td>
					<td>{{e.update}}</td>
					<td> <button  type="submit"   ><a href="/cert/indexedit/{{id}}/{{e.id}}/" >编辑</a></button>&nbsp&nbsp<button  type="submit"   ><a href="/cert/indexdel/{{id}}/{{e.id}}/" >删除</a></button></td>
                    </tr>
                  {% endfor %}
			    

			</table>
			
	    <br>
		<li><a href="/cert/info.html">返回</a></li>
		</ol>
      <br>

      
       
    
	    

</body>
</html>